.text-align-justify {
    text-align: justify !important;
}
.swiper-main .breadcrumbs-custom-title {
    font-size: 40px !important;
}
@media (max-width: 767.98px) {
    .swiper-main .breadcrumbs-custom-title {
        font-size: 24px !important;
    }
    .swiper-main .swiper-slide p.heading-2 {
        display: block;
        font-size: 20px;
    }
}
.breadcrumbs-custom-path li:after {
    content: "→";
}
.list-marked > li:before {
    content: "→";
}
ul.social-icons-list li a {
    padding: 8px;
}